#bottom {
	position: fixed;
	left: calc(50% - 225px);
	bottom: 0px;
	width: 700px;
	height: 135px;

	background: linear-gradient(to bottom left, #2a4d1e, rgb(84,167,108));
	border: solid #D9E0E7 1px;
}

#bottom #img {
	position: absolute;
	left: 10px;
	top: 10px;

	height: 105px;
	width: 105px;
	float: left;
}

#img:hover {
	border: solid 2px;
}

#img img {
	display: block;
}

#bottom textarea {
	margin: 10px 10px -2px 125px;
	width: calc(100% - 135px);
	height: 105px;

	padding: 0.2em;

	z-index: 500;
	resize: none;
}

#bottom > #send-message-button {
	margin-left: 550px;
	width: 100px;
	height: 20px;

	text-align: center;

	position: relative;
	z-index: 10;

	background: orange;
}

#send-message-button:hover {
	cursor: pointer;
	/*opacity: .9;*/
	box-shadow: 0 0 2px #fefefe;
}

#send-message-button:active {
	opacity: .8;
}