#dialogs-head {
	position: fixed;
	top: 75px;
	left: calc(50% - 225px);
	width: 700px;
	height: 50px;

	background: linear-gradient(to bottom left, #2a4d1e, rgba(84,167,108,0.8));
	border-left: solid #D9E0E7 1px;
	border-right: solid #D9E0E7 1px;
}

#delete-messages {
	position: fixed;
	top: 125px;
	left: calc(50% + 475px);
	/*width: 50px;*/
	height: 30px;

	background-color: red;
}