#friends {
	position: fixed;
	top: 75px;
	left: calc(50% - 475px);

	width: 250px;
	height: 600px;

	border-bottom-left-radius: 10px;

	background: linear-gradient(160deg, black 1%, rgb(64,82,34) 30%, rgb(130,141,71));
}