#form > #login-form {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	padding: 40px;
}

#login-form > form > span {
	color: white;
}

#login-form > form > span:hover {
	cursor: default;
}

#login-form > form > #username {
	margin-bottom: 1em;
	margin-top: .5em;
}

#login-form > form > #password {
	margin-bottom: 1em;
	margin-top: .5em;
}

#login-form > form > button {
	margin-top: .2em;
	margin-right: 20px;
}

#login-form > form > #enter {
	/*float: left;*/
}

#login-form > form > #register {

}