#message-container {
	margin-top: 125;
	margin-left: calc(50% - 225px);
	margin-bottom: 135px;
	width: 700px;
	overflow: hidden;

	min-height: calc(100% - 247px);
	border-left: solid #D9E0E7 1px;
	border-right: solid #D9E0E7 1px;
	
	-webkit-user-select: text;
}


/*message*/
#message-container > div {
	position: relative;
	margin: 10px 5px 10px 5px;
	clear: both;
	padding: 10px;
	border-radius: 15px;

	min-width: 400px;
	max-width: 660px;
	min-height: 2em;

	border: solid #d0d0d0 1px;
	background: #f5f5f5;

	transition: border 1s;
}

#message-container > div > .edit-message {

}

#message-container > div > div:hover, time:hover {
	cursor: text;
}

#message-container > .my-message {
	float: right;
}

.my-message:hover {
	cursor: pointer;
}

#message-container > .selected-message {
	border: solid rgb(64,82,34) 1px;
	box-shadow: 0 0 2px rgb(64,82,34);
}

.my-message > time {
	position: absolute;
	top: 10px;
	right: 10px;
	/*height: 100%;*/
	margin-left: 20px;
}

.my-message > div {
	overflow: hidden;
	margin-right: 100px;
}

#message-container > .friend-message {
	float: left;
}

.friend-message > time {
	position: absolute;
	top: 10px;
	left: 10px;
	/*height: 100%;*/
	margin-right: 20px;
}

.friend-message > div {
	overflow: hidden;
	margin-left: 100px;
}