.modal-container {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;

	background: rgba(0,0,0,.7);

	display: none;
}

.modal-container > #login {
	position: fixed;
	top: calc(50% - 200px);
	left: calc(50% - 300px);
	z-index: 1001;

	background: #fefefe;

	width: 600px;
	height: 400px;
}